.container {
  display: flex;
}
.item {
  background: pink;
	color: deeppink;
	list-style: none;
	// height: 100px;
}

.item__favourite {
  background: deeppink;
	color: pink;
	
}

li {
	list-style: none;
}

.fav__list {
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	img {
		height: 130px;
	}
	h2 {
		font-size: 18px;
		width: 120px;
	}
}

.list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	padding-left: 0px;
}

